@media (max-width: 480px) {

.stock ul{
 display: grid;
grid-template-columns: repeat(1,300px);
gap: 80rem;
padding: 0 2rem;
box-shadow: 1px 1px 12px black;
}
.back-btn{
margin-left: 2rem;
font-size: 1rem;
padding: 0.4rem 0.4rem;
}
}
